.admin-menu {
	height: 100vh;
	width: 200px;
	position: fixed;
	display: flex;
	flex-direction: column;
	z-index: 999;
	top: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: .5rem 0;
	background-color: $dark;
	color: $white;
		&::-webkit-scrollbar {
		width: .5rem;
		&-track {
			background-color: $dark-mid;
		}
		&-thumb {
			background-color: darken($primary,10);
			outline: 1px solid $primary;
			&:hover {
				background: $primary;
			}
		}
}
	&__title {
		font-size: 1.5rem;
		text-align: center;
	}
	ul.admin-menu__links {
		margin-block-start: 1rem;
		margin-block-end: 1rem;
		padding-inline-start: 0;
		position: relative;
		&:nth-last-child(2) {
			flex-grow: 1;
		}
		li:not(.admin-menu__title) {
			padding: 0 .5rem;
			cursor: pointer;
			&:hover {
				background-color: $dark-mid;
			}
			a {
				color: $white;
			}
		}
		&.account-links {
			border-top: 1px solid $white;
			padding-top: .5rem;
			margin-top: 3rem;
			margin-bottom: 0;
		}
	}
}

.admin {
	position: relative;
	height: 100%;
	&__container {
		position: absolute;
    top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 2rem;
		width: 22rem;
		max-width: 100%;
		background: $dark;
		color: $white;
		border-radius: 5%;
		h1 {
			text-align: center;
		}
		.input-container {
			width: 100%;
			margin: 1rem 0;
			* {
				width: 100%;
			}
		}
		.button-container {
			width: 100%;
			margin: 1rem 0;
			button {
				width: 100%;
				cursor: pointer;
			}
		}
	}
}