@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');
@import 'variables';
@import 'reset';
@import 'mixins';
@import 'utilities';
@import 'hamburgers';
@import 'forms';

#login-page {
	position: relative;
	height: 100vh;
	.login-form-container {
		display: flex;
		flex-direction: column;
		background-color: $primary;
		border-radius: 10px;
		@include box-shadow;
		padding: 2rem;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		.login-form {
			display: flex;
			flex-direction: column;
			@include tablet {min-width: 300px;}
		}
	}
}
.admin-page {
}