.contact {
	& > div {
		margin-bottom: 1rem;
	}
	&__form {
		margin: auto;
		padding: 0;
		max-width: 100%;
		width: 500px;

		@include desktop {
			padding-top:4.125rem;
			margin-left: auto;
		}
	}
	&__support {
		& > div {
			display: flex;
			& > div {
				width: 50%;
				margin: .5rem;
				text-align: center;
			}
		}
	}
	&__map{
		iframe {
			width:100%;
			min-height:400px;
		}
	}
}