.shop {
	#shoe-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		column-gap: 1rem;
		row-gap: 1rem;
		.shoe-container {
			background-color: $light;
			padding: 1rem;
			border-radius: 10px;
			@include box-shadow;
			&__image{
				background-color: $primary;
				margin-bottom: 1rem;
			}
			&__info {	
			.shoe {
				&__label {
					display: flex;
					& > * {
						margin-top: auto;
						margin-bottom: auto;
					}
				}
				&__brand {
					font-size: 1.6rem;
					line-height: 1.6rem;
					font-weight: bold;
					margin-right: .4rem;
				}
				&__name{
					font-size: 1.2rem;
					margin-right: .4rem;
					line-height: 1.6rem;
				}
				&__color{
					margin-left: auto;
					height: 18px;
					width: 18px;
					border-radius: 100%;
					border: 2px solid $white;
				}
				&__description {
					font-size: .8rem;
				}
				&__price{
					font-size: 1.3rem;
				}
			}
			}
		}
	}
}