.btn {
	outline: 0;
	border: 0;
	padding: .5rem;
	border-radius: 5px;
	cursor: pointer;
	@include box-shadow-soft;
	&:hover {
		font-weight: bold;
	}
	@each $clr, $clrval in $colors {
		&-#{$clr} {
			background-color: $clrval;
			color: text-color($clrval)
		}
	}
}