$primary: #07d0ff;
$dark-mid: #006d86;
$dark: #005467;
$light-mid: #74e5ff;
$light: #a6eeff;
$black: #001013;
$white: #f8fbfb;

$colors: (primary:$primary,dark-mid:$dark-mid,dark:$dark,light-mid:$light-mid,light:$light,black:$black,white:$white);

// BREAKPOINTS -----
$breakpoint-sm: 375px;
$breakpoint-md: 768px;
$breakpoint-lg: 1112px;

$maxContentWidth: 1080px;
		
@function text-color($color) {
  @if (lightness($color) > 50) {
    @return $black;
  } @else {
    @return $white;
  }
}

// HAMBURGER -----
$hamburger-padding-x           : 15px !default;
$hamburger-padding-y           : 15px !default;
$hamburger-layer-width         : 40px !default;
$hamburger-layer-height        : 4px !default;
$hamburger-layer-spacing       : 6px !default;
$hamburger-layer-color         : #000 !default;
$hamburger-layer-border-radius : 4px !default;
$hamburger-hover-opacity       : 0.7 !default;
$hamburger-active-layer-color  : $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
// $hamburger-hover-use-filter   : false !default;
// $hamburger-hover-filter       : opacity(50%) !default;
// $hamburger-active-hover-filter: $hamburger-hover-filter !default;

$hamburger-types: (
  squeeze,
) !default;