// COLORS -----
$primary: #07d0ff;
$dark-mid: #006d86;
$dark: #005467;
$light-mid: #74e5ff;
$light: #a6eeff;
$black: #001013;
$white: #f8fbfb;

$colors: (primary:$primary,dark-mid:$dark-mid,dark:$dark,light-mid:$light-mid,light:$light,black:$black,white:$white);

// BREAKPOINTS -----
$tablet-width: 768px;
$desktop-width: 1024px;

@function text-color($color) {
  @if (lightness($color) > 50) {
    @return $black;
  } @else {
    @return $white;
  }
}