@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');
@import 'variables';
@import 'mixins';
@import 'reset';
@import 'hamburgers';

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: $black;
	background-color: $white;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Roboto Slab', serif;
}
a {text-decoration: none;}
.hidden {
	visibility: hidden;
}
#root, .App {
	min-height: 100vh;
}