@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');
@import 'variables';
@import 'mixins';
@import 'reset';
@import 'utilities';
@import 'layout';
@import 'contact';
@import 'shop';
@import 'admin';


body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: $black;
	background-color: $white;
	background: linear-gradient(0deg, rgba(0,84,103,1) 0%, rgba(0,84,103,1) 120px, rgba(255,255,255,1) 120px, rgba(255,255,255,1) 500px, rgba(166,238,255,1) 100%);
	
	#root, .App {
		min-height: 100vh;
	}
}
#wrapper {
	min-height: calc(100vh - 64px);
	max-width: 1080px;
	margin: 0 auto;
}
@media all and (max-width:1080px) {
	#wrapper {
		padding-left: 1rem;
		padding-right:1rem;
	}
}
ul {list-style: none;}
h1, h2, h3, h4, h5, h6 {font-family: 'Roboto Slab', serif;}
h1 {
	font-weight: 900;
	font-style: italic;
	font-size: 2.5rem;
	margin-bottom: 1rem;
}
h2 {
	font-weight: 800;
	font-style: italic;
	font-size: 2.25rem;
	margin-bottom: .75rem;
}
h3 {
	font-weight: 700;
	font-size: 2rem;
	margin-bottom: .75rem;
}
h4 {
	font-weight: 600;
	font-size: 1.75rem;
	margin-bottom: .75rem;
}
h5 {
	font-weight: 400;
	font-size: 1.5rem;
	margin-bottom: .75rem;
}
h6 {
	font-weight: 400;
	font-size: 1.25rem;
	margin-bottom: .75rem;
}
a {
	color: $dark-mid;
	text-decoration: none;
	&:hover{
		color: $dark;
		text-decoration: underline;
	}
}
form {
	.form__input {
		display: flex;
		flex-direction: column;
		input, textarea {
			padding: .2rem;
			border-radius: 5px;
			border: none;
			margin: .5rem;
		}
		textarea {
			height: 150px;
		}
		label {
			margin-bottom: -.5rem;
		}
	}
			button {
				width: 100%;
			}
}