@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');
@import 'variables';
@import 'mixins';
@import 'reset';
@import 'utilities';
@import 'layout';
@import 'contact';
@import 'shop';
@import 'blog';
@import 'admin';
@import 'hamburger';


body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: $black;
	background-color: $white;
	#wrapper {
			min-height: 100vh;//calc(100vh - 1rem);
			margin: 0 auto 0 200px;
			max-width: 1080px;
			padding-left:.5rem;
			padding-right:.5rem;
		}
	&.admin-page {
		background-color: $white;
		background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(166,238,255,1) 100%);
	}
	&.page {
		background: linear-gradient(0deg, rgba(0,84,103,1) 0%, rgba(0,84,103,1) 120px, rgba(255,255,255,1) 120px, rgba(255,255,255,1) 500px, rgba(166,238,255,1) 100%);
		#wrapper {
			min-height: calc(100vh - 64px);
			margin: 0 auto;
		}
	}	
	#root, .App {
		min-height: 100vh;
	}
}


@include desktop {
	#wrapper, #admin-wrapper {
		padding-left: 1rem;
		padding-right:1rem;
	}
}
ul {list-style: none;}
h1, h2, h3, h4, h5, h6 {font-family: 'Roboto Slab', serif;}
h1 {
	font-weight: 900;
	font-style: italic;
	font-size: 2.5rem;
	margin-bottom: 1rem;
}
h2 {
	font-weight: 800;
	font-style: italic;
	font-size: 2.25rem;
	margin-bottom: .75rem;
}
h3 {
	font-weight: 700;
	font-size: 2rem;
	margin-bottom: .75rem;
}
h4 {
	font-weight: 600;
	font-size: 1.75rem;
	margin-bottom: .75rem;
}
h5 {
	font-weight: 400;
	font-size: 1.5rem;
	margin-bottom: .75rem;
}
h6 {
	font-weight: 400;
	font-size: 1.25rem;
	margin-bottom: .75rem;
}
a, .link {
	color: $dark-mid;
	text-decoration: none;
	&:hover{
		color: $dark;
		text-decoration: underline;
	}
}
form {
	.form__input {
		display: flex;
		flex-direction: column;
		input, textarea {
			padding: .2rem;
			border-radius: 5px;
			border: 1px solid $dark-mid;
			margin: .5rem;
		}
		textarea {
			height: 150px;
		}
		label {
			margin-bottom: -.5rem;
		}
	}
			button {
				width: 100%;
			}
}
*[role="button"] {
	cursor: pointer;
}
h1.page-header {
	color: $dark;
	opacity: .7;
	font-size: 3rem;
	text-shadow: -.5rem -.5rem $light-mid;
	@include tablet {
		font-size: 6rem;
		text-shadow: -0.75rem -1rem $light-mid;
	}
	@include desktop {
		font-size: 8rem;
		text-shadow: -1rem -2rem $light-mid;
	}
	@include xlarge {
		font-size: 10rem;
		text-shadow: -3rem -4rem $light-mid;
	}
}