@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');
@import 'variables';
@import 'reset';
@import 'mixins';
@import 'utilities';
@import 'hamburgers';

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: $black;
	background-color: $white;
}
h1, h2, h3, h4, h5, h6 {font-family: 'Roboto Slab', serif;}
h1 {
	font-weight: 900;
	font-style: italic;
	font-size: 2.5rem;
	margin-bottom: 1rem;
}
h2 {
	font-weight: 800;
	font-style: italic;
	font-size: 2.25rem;
	margin-bottom: .75rem;
}
h3 {
	font-weight: 700;
	font-size: 2rem;
	margin-bottom: .75rem;
}
h4 {
	font-weight: 600;
	font-size: 1.75rem;
	margin-bottom: .75rem;
}
h5 {
	font-weight: 400;
	font-size: 1.5rem;
	margin-bottom: .75rem;
}
h6 {
	font-weight: 400;
	font-size: 1.25rem;
	margin-bottom: .75rem;
}
a {text-decoration: none;}
.hidden {
	visibility: hidden;
}
#root {
	min-height: 100vh;
	position: relative;
}
main {
	padding-bottom: 22rem;
	@include tablet {padding-bottom:16rem;}
}
#hero-wrapper {
	padding-top: 6rem;
	margin: 0 1rem;
}
#wrapper {
	margin: 0 auto;
	width: 100%;
	padding: 0 1rem;
	max-width: $maxContentWidth;
}
header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	background: none;
	color: $black;
	#mobile-navigation {
		@include desktop {display:none;}
	}
	#desktop-navigation {
		display:none;
		@include desktop {display:block;}
	}
	.header-container {
		position: relative;
		padding: 1rem;
		&-inner {
			display: flex;
			justify-content: space-between;
			position: relative;
		}
	}
	#mobile-nav-container {
		background-color: $white;
		padding: 2rem;
		border-radius: 5px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 9999;
		opacity: 1;
		transition-duration: .3s;
		transition-timing-function: ease;
		transition-delay: .2s;
		&.hidden {
			opacity: 0;
		}
		.mobile-menu {
			font-weight:600;
			font-size: 1.2rem;
			@include tablet {font-size: 1.8rem;};
			text-align: center;
			.mobile-menu {
				&__item {
					a {display:block;width: 100%}
					&:hover {
						a {color:$primary}
					}
				}
			}
		}
		.mobile-menu__close {
			position: absolute;
			top: 1rem;
			right: 1rem;
			padding: 0;
		}
	}
	#desktop-nav-container {
		.desktop-menu {
			display: flex;
			&__item {
				padding: 0 1.5rem;
				cursor: pointer;
				font-weight: 600;
				&:hover {
					a {
						color: transparentize($color: $black, $amount: 0.1);
						border-bottom: 3px solid transparentize($color: $black, $amount: 0.1);
					}
				}
			}
		}
	}
}
footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	background-color: $dark;
	a, a:active, a:visited {color: $white}
	a:hover {color: $primary}
	.column {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 1rem;
	}
	.footer-container {
		* {color: $white}
		position: relative;
		padding: 1rem;
		&-inner {
			display: flex;
			flex-direction: column;
			@include tablet {flex-direction: row;}
			justify-content: space-between;
			position: relative;
			margin-top: 1rem;
		}
	}
	.footer-menu {
		a:hover {
			li div, li i {color:$primary;}
			i {visibility: visible;}
		}
		a, li {width: 100%;}
		li {margin-bottom: .5rem;}
		i {
			visibility: hidden;
			margin-left: 1rem;
		}
	}
	.footer-social-menu {
		display: flex;
		font-size: 2rem;
		//padding: .5rem;
		li {
			margin-right: 2rem;
			&:hover {
				i {color:$primary}
			}
		}
	}
}
#hero {
	padding-bottom: 12rem;
	position: relative;
	background: $light;
	background: linear-gradient(180deg, $primary 0%, $light 100%);
}
.hero-container {
	display: flex;
	flex-direction: column;
	@include tablet {
		flex-direction: row;
	}
	.hero-column {
		width: 100%;
		padding: 2rem;
		//@include tablet {padding: 2rem 3rem}
		@include desktop {padding: 2rem 4rem}
	}
	.hero-blurb {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.hero-image {
		display: none;
		@include tablet {display: block}
	}
	.tagline {
		font-size: 1.2rem;
		padding: 1rem 0;
	}
	.cta {
		padding: 1rem 0;
		font-size: 1.4rem;
		button {@include box-shadow}
	}
}
.shape-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
		transform: rotate(180deg);
		svg {
			position: relative;
			display: block;
			width: calc(169% + 1.3px);
			height: 150px;
	}
	.shape-fill {
		fill: $white;
	}
}
.link {@include link-style;}
.loading {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100vh;
	&__text {
		width: 100%;
		margin-top: 3rem;
		text-align: center;
	}
	.spinner {
		margin: auto;
		width: 70px;
		text-align: center;
		& > div {
			width: 18px;
			height: 18px;
			background-color: $primary;

			border-radius: 100%;
			display: inline-block;
			-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
			animation: sk-bouncedelay 1.4s infinite ease-in-out both;
		}
		.bounce1 {
			-webkit-animation-delay: -0.32s;
			animation-delay: -0.32s;
		}
	
		.bounce2 {
			-webkit-animation-delay: -0.16s;
			animation-delay: -0.16s;
		}
	}

	@-webkit-keyframes sk-bouncedelay {
		0%, 80%, 100% { -webkit-transform: scale(0) }
		40% { -webkit-transform: scale(1.0) }
	}

	@keyframes sk-bouncedelay {
		0%, 80%, 100% { 
			-webkit-transform: scale(0);
			transform: scale(0);
		} 40% { 
			-webkit-transform: scale(1.0);
			transform: scale(1.0);
		}
	}
}
#contact h2 {
	text-align: center;
}
.contact-form {
	@include tablet {width: 50%}
	margin:auto;
	display: flex;
	flex-direction: column;
}
form {
	.form__input {
		display: flex;
		flex-direction: column;
		input, textarea {
			padding: .2rem;
			border-radius: 5px;
			border: 1px solid $dark-mid;
			margin: .5rem;
		}
		textarea {
			height: 150px;
		}
		label {
			margin-bottom: -.5rem;
		}
	}
			button {
				width: 100%;
			}
}